*{
    font-family: sans-serif;
}

#form2 input:invalid, #form1 input:invalid{
    background-color: pink;
}

#form2 input:valid, #form1 input:valid{
    background-color: aquamarine;
}

form{
    border: 2px black solid;
    padding: 10px;
    margin: 10px;
}

legend{
    font-size: 24px;
    font-weight: bold;
}

.invalid{
    background-color: pink;
}

.valid{
    background-color: aquamarine;
}